h1 {
  font-family: Roboto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
}

p {
  font-family: Roboto;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  height: max-content;
  line-height: 2rem;
}

.container {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

.dashbaord {
  flex: 1;
}

.title {
  margin-left: 48px;
  margin-top: 100px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0018em;
}

.back-button {
  margin-top: 104px;
  margin-left: 56px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.grading-text {
  margin-left: 48px;
  margin-top: 36px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.0018em;
}
