h1 {
  font-family: Roboto;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
}

p {
  font-family: Roboto;
  position: absolute;
  top: 280px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 600px;
  height: max-content;
  line-height: 2rem;
}
