.student-list-table-container {
  margin-top: 34px;
  margin-left: 48px;
  height: 600px;
  width: 1094px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  .table-title {
    margin: 24px 24px 17px 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.0015em;
  }
}
